footer {
    background: linear-gradient(to right, #263238, #37474f);
}
footer p {
    color: #e5e5e5;
}
.row {
    margin: 0;
}
.row>* {
    padding: 0;
}
p {
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}