main{
    background: linear-gradient(to bottom right, #28313B, #485461);
    height: 100vh;
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.list-group-item {
    padding: 10px;
}
.header-row {
    height: 60px;
    background-color: #394867;
    color: #9BA4B5;
    align-items: center;
}
.btn-secondary.btn-sm {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-col {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
h1 {
    margin: 0;
    margin-left: 15px;
    font-size: 24px;
    line-height: 60px;
}
.useful-info-col {
    margin: 15px;
    text-align: justify;
    color: #9BA4B5;
}
.useful-text {
    text-align: justify;
    color: #9BA4B5;
}
.list-group {
    margin: 15px;
    margin-top: 0px;
}
.list-group-item {
    background-color: #b7c9e2;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 0;
}
.transport-type-logo {
    width: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.transport-type-title {
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex; 
    align-items: center;
    font-size: 20px;
}
.transport-logo { 
    margin-right: 15px;
    width: 40px;
    height: 40px;
}
.transport-line {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}