main{
    background: linear-gradient(to bottom right, #28313B, #485461);
    min-height: 100vh;
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.header-row {
    height: 60px;
    background-color: #394867;
    color: #9BA4B5;
    align-items: center;
}
.btn-secondary.btn-sm {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-col {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
h1 {
    margin: 0;
    margin-left: 15px;
    font-size: 24px;
    line-height: 60px;
}
.useful-info-col {
    margin: 15px;
    text-align: justify;
    color: #9BA4B5;
}
.useful-text {
    text-align: justify;
    color: #9BA4B5;
}
.transport-line-list-col {
    display: flex;
    justify-content: left;
    margin: 10px;
    width: unset; 
    max-width: unset;
}

.transport-logo{
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.transport-line {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.official-site-col {
    margin: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.btn-light {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.site-link-logo {
    margin: 0px;
    margin-left: 30px;
}
.pricing-col {
    margin-left: 15px;
    text-align: justify;
    color: #9BA4B5;
}